.card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  header{
    position: relative;
  }
  img.star , img.cart{
    position: absolute;
    top : 10px ;
    right:  10px;
    width: 24px;
    height: 24px;
  }

  img.cart {
    top : 10px;
    right: 40px;
  }

  .body {
    padding: 10px 15px;
  }
  .product-img {
    width: 100%;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  p {
    font-size: 14px;
  }

}
